:root {
    --dark-purple: #333355;
    --light-blue: #b3e5fc;
    --turquoise: #4dd0e1;
    --gold: #ffd700;
    --transparent-white: rgba(255, 255, 255, 0.1);
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #a1c4fd 0%, #f5e1fd 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 5px #d4a340);
}

.header__logo-text {
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-purple);
    margin-left: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header__logo-text:hover,
.header__logo-text:active,
.header__logo-text:focus {
    color: #FFF726;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Weather Container */
.weather-container {
    background: var(--transparent-white);
    backdrop-filter: blur(10px);
    border: 1px solid var(--light-blue);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.weather-container__title {
    font-size: 28px;
    font-weight: 700;
    color: var(--dark-purple);
    text-align: center;
    margin-bottom: 30px;
}

.weather-container__data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.weather-data {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.weather-data>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
    gap: 15px;
}

.weather-data__icon {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 3px rgba(255, 215, 0, 0.3));
}

.weather-data__temperature,
.weather-data__feels-like,
.weather-data__humidity,
.weather-data__condition,
.weather-data__wind-speed {
    display: flex;
    align-items: center;
    color: var(--dark-purple);
}

.weather-data__value {
    font-weight: bold;
    font-size: 2em;
    text-wrap: wrap
}

.weather-data__icon use {
    fill: var(--gold);
}

/* Loading Indicator */
.loading-indicator {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.loading-indicator.active {
    display: flex;
}

.loading-indicator__icon {
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Footer */
.footer {
    margin-top: 20px;
    text-align: center;
}

.footer__copyright,
.footer__contact {
    font-size: 14px;
    color: var(--dark-purple);
}

.footer__contact {
    display: block;
    margin-top: 5px;
    transition: color 0.3s ease;
}

.footer__contact:hover,
.footer__contact:active,
.footer__contact:focus {
    color: #DAA520;
}

